<link rel="shortcut icon" href="/assets/cotast AI.png" type="image/png" />
<link rel="shortcut icon" href="/assets/cotast AI.svg"  />
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/shome">Cotast</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      
      <li class="<%= path === 'chat' ? 'nav-item active' : 'nav-item' %>">
        <a class="nav-link" href="/schat"><i class="fas fa-comments"></i> Chat<span class="sr-only">(current)</span></a>
      </li>
      
      <li class="<%= path === 'profil' ? 'nav-item active' : 'nav-item' %>">
        <a class="nav-link " href="/sprofil"><i class="fas fa-user-circle"></i> Profil</a>
      </li>
      <% if(path === "chat"){ %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Groupes
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
              <% if(rooms.length >0){ %>
                <% for(let room of rooms){%>
                  <a class="dropdown-item " href="/room/<%= room.id %>"><%= room.roomname %></a>
                  
                  <%}%>
                  <%}else{%>
                    <div class="dropdown-item  text-danger text-center">pas de groupe</div>
                    <%}%>
               
            </div>
        </li>
        <%}%>
      
    </ul>
  </div>
  <% if(path === "home" || path === "ssearch" ) { %>
  <form class="form-inline my-2 my-lg-0" action="/find-teacher" method="POST">
    
    <input class="form-control mr-sm-2" type="search" placeholder="chercher" name="teachername" aria-label="Search">
    <input type="hidden" name="_csrf" value="<%= csrfToken%>">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
  </form>
  <%}%>
  
</nav>
      