<%- include("../includes/head.ejs"); %>
<body>
        <%- include("../includes/body.ejs"); %>
        <script src="/js/moment/moment.js"></script>
        <%- include("../includes/momentf.ejs"); %>
        <%- include("../includes/navigation.ejs"); %>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"> 

        <div class="container">
                <div class="row ">
                    
                    <br>
                    <div class="col-md-6 offset-md-3 col-sm-12 bg-light" style="margin-top: 10px; ">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="" data-target="#profile" data-toggle="tab" class="nav-link <%= editMode === 'true' ? '' : 'active' %>">Profil</a>
                            </li>
                            
                            <li class="nav-item">
                                <a href="" data-target="#edit" data-toggle="tab" class="nav-link <%= editMode === 'true' ? 'active' : '' %>">Modifier</a>
                            </li>
                        </ul>
                        <div class="tab-content py-4">
                            <div class="tab-pane <%= editMode === 'true' ? '' : 'active' %>" id="profile">
                                <h1><i class="fas fa-user-circle"></i><h5 class="mb-4">Profil </h5></h1>
                                
                                <div class="row">
                                    <div class="col-md-7">
                                        <h5 class="text-primary" style="font-family: 'Source Sans Pro', sans-serif;"><%= username%></h5>
                                        <h5 class="text-secondary" style="font-family: 'Source Sans Pro', sans-serif;"><%= email%></h5>
                                        <h6 class="text-secondary" style="font-family: 'Source Sans Pro', sans-serif;"><%= school%></h6>
                                        
                                    </div>
                                    <div class="col-md-4">
                                        
                                        <span class="badge badge-primary"><i class="fa fa-user"></i> <%= numfollow%> Eleves</span>
                                        
                                        <span class="badge badge-danger" id="postsnum"><i class="fas fa-file"></i> <%= numposts%> Publications</span>
                                        <br>
                                        <button type="submit" class="btn btn-outline-danger " 
                                             onclick="logout(this,'<%= csrfToken %>')" style="margin: 5px;"><i class="fas fa-sign-out-alt"></i></button>
                                    </div>
                                    
                                </div>
                                <!--/row-->
                            </div>
                            
                            <div class="tab-pane <%= editMode === 'true' ? 'active' : '' %>" id="edit">
                                <form role="form" action="/edit-user" method="POST">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label" for="username">Nom d'utilisateur</label>
                                        <div class="col-lg-9">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <input class="form-control" type="text" id="username" name="username" value="<%= username%>">
                                        </div>
                                    </div>
                                   
                                    <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Changer lycée</label>
                                            <div class="col-lg-9">
                                                <select id="user_time_zone" class="form-control" size="0" name="school">
                                                        <option value="<%= school%>"><%= school%></option>
                                                    <option value="Bardo">Bardo</option>
                                                    <option value="Rue de russie">Rue de russie</option>
                                                </select>
                                            </div>
                                        </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                        <div class="col-lg-9">
                                            <button type="reset" class="btn btn-secondary">Annuler</button>
                                            
                                            <button type="submit" class="btn btn-primary">Sauvegarder</button>
                                        </div>
                                    </div>
                                </form>
                                <% if(message){%>
                                    <div class="text-center"><p class="text-danger"><%= message %></p></div>
                                    <%}%>
                               
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 offset-md-3 col-sm-12 border-top">
                            <h2 class="text-center text-dark" style="font-family: 'Source Sans Pro', sans-serif;">Mes publications</h2>
                            <div class="text-center">
                            
                                </div>
                                  
                                  <% if (posts.length > 0) { %>
                                    <% for (let post of posts){%>
                                      <% if(post.type === "application/pdf"){%>
                                        <article>
                                                <div class="p-3 mb-2 bg-white border" id="post">
                                                        <h3 class="text-left" style="color: #0087bd;"><i class="far fa-user-circle" style="color: black;"></i> <%= post.creator.username%></h3>
                                                        <div class="row">
                                                        <div class="col-md-2">
                                                            <img src="https://assets.jimstatic.com/s/img/cc/icons/pdf.png" alt="">
                                                        </div>
                                                        <div class="col-md-10">
                                                        <p><%= post.comment%></p>
                                                        
                                                    <p><script>document.write( renderDate(Number('<%= post.createdAt%>')));</script></p>
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        <a class="btn btn-primary" href="<%= post.filename%>" target="_blank"><i class="fas fa-eye"> </i> Lire</a>
                                                        <a class="btn btn-primary" href="<%= post.filename%>" download><i class="fas fa-upload"></i> Telecharger</a>
                                                        <input type="hidden" value="<%= post._id %>" name="postId">
                                    <button class="btn btn-danger" type="button" onclick="deleteProduct(this,'<%= csrfToken%>')"><i class="fas fa-trash"></i></button>
                                                      </div>
                                                      </div>
                                                    </div>
                                                    
                                                    
                                                    
                                                  </div> 
                                         
                                </article>
                                        <%}else{%>
                                            <article>
                                        <div class="p-3 mb-2 bg-white border" id="post">
                                          <h3 class="text-left" style="color: #0087bd;"><i class="far fa-user-circle" style="color: black;"></i> <%= post.creator.username%></h3>
                                          
                                          <p class="text-left"><%= post.comment%></p>
                                      <img src="<%= post.filename%>" class="img-fluid rounded mx-auto d-block" alt="Responsive image" style="width: 100%;
                                      ">
                                      <br>
                                      <p><script>document.write( renderDate(Number('<%= post.createdAt%>')));</script></p>
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                                <a class="btn btn-warning" href="<%= post.filename%>" role="button" download><i class="fas fa-upload"></i></a>
                                                <input type="hidden" value="<%= post._id %>" name="postId">
                                                <button class="btn btn-danger" type="button" onclick="deleteProduct(this,'<%= csrfToken%>')"><i class="fas fa-trash"></i></button>
                                              </div>
                                    </div>
                                </article>

                                    <%}}%>
                                    <%}else{%>
                                        <div class="alert alert-dark text-center" role="alert">
                                            pas de publications
                                              </div>
                                     
                                      <%}%>
                                  
                                 
                        
                    </div>
                   
                </div>
            </div>

            <%- include("../includes/footer.ejs");%>
              
</body>
<script src="/js/delete.js"></script>
<%- include("../includes/script.ejs");%>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="/js/logout.js"></script>
</html>